#bg{
    margin-top: 0px;
    padding-top: 0px;
    /* background-color: aliceblue; */
    background-size: cover;
}

    /* background: url(wavybg.jpg); */

#bluebg{
    background: url(wavybg.jpg);
}

/* #prof{
    margin-top: 0px;
    padding-top: 0px;
    background: url(profile.jpg);
    background-size: cover;
} */

/* .container{
    background-color: #c0b9af;
} */

#profile{
    padding-top: 40px;
    padding-right: 110px;
    padding-left: 110px;
    width: 100px;
    height: 303px;
}

/* #onestock{
    padding-top: 40px;
    margin-top: 20px;
} */